
<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
<link href="https://fonts.googleapis.com/css?family=Bahamas&amp;display=swap" rel="stylesheet">
<body>
<div class="main-body"></div>
<ion-app>
   <ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="start">
          <ion-menu-button auto-hide="false"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
        <ion-icon name="search"></ion-icon>
        </ion-buttons>
        <ion-buttons slot="end"> 
            <ion-icon name="notifications" ></ion-icon>
            </ion-buttons>
        <ion-title>QLS Academy</ion-title>
     </ion-toolbar>
   </ion-header>
<ion-content>
  <div class="header">
      <div class="header-item-img1"></div>
      <div><span class="header-item-text1"> Student Name</span></div>
      <div><span class="header-item-text2"> Class: 10th Board: CBSC</span></div>
      <ion-button class="header-item-join">
         <img src="../assets/Vector-1.svg">  Join Live Class
      </ion-button>
        <div class="header-item-img2"></div>
        <div class="item-img"></div>
  </div>
  <div class="subject-contain">Hi, What Would You Learn Today!</div>
     <div class="contain-item1">
        <div class="bio-img"></div>
        <div class="math-img"></div>
        <div class="chem-img"></div>
        <div class="physics-img"></div>
        <div class="Geo-img"></div>
        <div class="civics-img"></div>
  </div>

  <div class="exam-contain">Exam Simulation</div>
  <div class="mock-contain"></div>
  <div class="mock-text">MOCK EXAM</div>
  <div class="mock-img-bg"></div>
  <div class="mock-img"></div>
  <div class="comp-contain"></div>
  <div class="comp-text">COMPETITIVE EXAMS</div>
  <div class="comp-img"></div>

  <div class="what-new">What's New</div>
  <div class="new-contain1"></div>
  <div class="new-conatin1-img"></div>
  <div class="new-text">MARKS IMPROVEMENT PROGRAMME</div>
  <div class="new-text2">specially designed for helping the student to focus more, revise the concepts.</div>
  <ion-button class="enroll-btn">Enroll Now</ion-button>
 
  <div class="report">Report Card</div>
  <div class="report-contain"></div><div class="report-detail"></div>
</ion-content>
</ion-app>
</body>